.top-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color: #efefef;
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .8px .4px;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: #ff3547;
}

.minimize{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.minimize:hover{
    -fx-background-color: #ddd;
}
.nav{
    -fx-background-color: linear-gradient(to bottom right ,#B6A6CA ,#d8e4ff , #FFDDE1  );
}
.nav-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "ui-rounded";
    -fx-font-size: 14px;
    -fx-font-weight: 700;
   -fx-text-fill: #222;
    -fx-alignment: CENTER-LEFT;
}
.nav-btn:hover{
    -fx-background-color: #d8e4;
}

.logout{
    -fx-background-color: #B6A6CA;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),6,0,0,0);
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px ;
}
.cards {
    -fx-background-color: linear-gradient(to  right ,#B6A6CA ,#d8e4ff);
    -fx-background-radius: 8px;

}

.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius:10px;
    -fx-padding:0px;

}
.table-view .table-column{
    -fx-alignment:CENTER;
    -fx-text-fill: #111;


}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right ,#B6A6CA ,#d8e4ff , #FFDDE1  );
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
    -fx-background-radius: 10px;

}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-font-family:"Arial";
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color:linear-gradient(to right, #272b3f, #256b51);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
}
.textfield:focused{
    -fx-border-width:1.8px;
    -fx-background-color:#fff;
}
.search{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";
    -fx-border-width:1px;
    -fx-padding:0px 0px 0px 5px;
}
.add-btn{
    -fx-background-color:#96CDFF;
    -fx-background-radius:8px;
    -fx-text-fill:#111;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.add-btn:hover{
    -fx-background-color:#3357a4;
    -fx-text-fill:#fff;

}

.update-btn{
    -fx-background-color:#18FF6D;
    -fx-background-radius:8px;
    -fx-text-fill:#111;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.update-btn:hover{
    -fx-background-color:#309a65;
    -fx-text-fill:#fff;

}

.delete-btn{
    -fx-background-color:#FE654F;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.delete-btn:hover{
    -fx-background-color:#ae1d46;
}

.clear-btn{
    -fx-background-color:#753566;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.clear-btn:hover{
    -fx-background-color:#9d3485;
}
.label-info{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius:4px;
    -fx-padding:0px 0px 0px 8px;
}
